<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Basic Authentication</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
        <h1>WELCOME TO HOME</h1>
        <button id="logout-btn">Log out</button>
        <script>
            function delete_cookie(name) {
                document.cookie = name + "=; expires=Thu, 18 Dec 2013 12:00:00 UTC; path=/";
            }
            $('#logout-btn').on('click', logout);
            function logout(){
                delete_cookie("token");
                window.location.href = "http://localhost:3000/login"
            }
        </script>
</body>
</html>